@import url("bootstrap.css");



.background{
    background-image: url('https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/h_img.jpg');

    background-size: cover;
    background-repeat: no-repeat;
    height: px;
    color: white;

}
h1{
    padding-top: 100px;
}

h1,p{
    text-align: center;
}

.services{
    background-image: url('https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/s_image.jpg');

    color: white;


}

