@import url("bootstrap.css");


*{
    margin: 0;
    padding: 0;
}

body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    
}

h1, h2, h3, p{
    text-align: center;
}

.background{
    background-image: url('https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/h_img.jpg');

    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    color: white;
}

.container{
    text-align: center;
}

h1{
    padding-top: 100px;
}

.services{
    background-image: url('https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/s_image.jpg');

    color: white;

}
div .dev{
    vertical-align: middle;
}

div .footer{
    text-align: center;
}

.col-6{
    float: left;
}

.col-12{
    float: right;

}

div .contback{
    background-image: url("https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/c_image.jpg");
    background-size: cover;
}

div .form{
    text-decoration: none;
}

#design, #development, #product{
    display: none;
}

.design-toggle, .development-toggle, .product-toggle:hover{
cursor: pointer;
}

#mouse{
    animation: wyci 5000 linear infinite;
}

#mpango{
    margin-left: 90px;
    margin-right: 90px;
    padding: 5px;
    padding-bottom: 20px;

}
#mpango2{
    margin-left: 90px;
    margin-right: 90px;
    padding: 5px;
    padding-bottom: 30px;

}
div .card{
    position: relative;
}

div .form{
    padding-bottom: 5px
}

div .contact{
    padding-top: 4px
}




